*,html
{
  font-family: 'Markazi Text', serif;
  margin: 0;
  padding: 0;
}

body
{
  background-color: #3F5441;
}

.title
{
  display: block;
  text-align: center;
  padding-bottom: 1.3rem;
  margin-top: 1rem;
  color: lightgrey;
  background-color: #333946;
  /* border-radius: 2.8rem; */
}

.bubbles
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#name
{
  font-size: 800%;
}

#port
{
  font-size: 200%;
  margin-top: -1rem;
}

#projB
{
  font-size: 500%;
  margin: 8%;
  text-decoration: none;
  color: lightgrey;
}

#contB
{
  font-size: 500%;
  margin: 8%;
  text-decoration: none;
  color: lightgrey;
}

#blogB
{
  font-size: 500%;
  margin: 8%;
  text-decoration: none;
  color: lightgrey;
}

#bubbles:hover
{
  color: salmon;
  transition: color .3s ease-in-out;
}

#blog
{
  color: lightgrey;
  font-size: 200%;
  margin: 10%;
}



#ceo
{
  font-size: 2rem;
  margin-left: -13.1rem;
  margin-top: 7.5rem;
}

#ceoLink
{
    text-decoration: none;
    color: lightgrey;
}

#ceoLink:hover
{
  color: salmon;
  transition: color .3s ease-in-out;
}

#kek
{
  position: absolute;
  height: 100%;
  width: 100%;
}
