*,html
{
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}

#header
{
  display: flex;
  background-color: black;
  color: white;
  padding: .4rem 0 .5rem 0;
  justify-content: center;
}

/* #clef
{
  font-size: 4rem;
} */

#title
{
  font-size: 4rem;
  margin: auto 0 auto 0;
}

#difficultySlct
{
  margin-right: .2rem;
  margin-left: .2rem;
}

#slctTxt
{

}

#main
{
  display: flex;
}

#musicDisplay
{
  margin: auto;
}

#musicPDF
{
  height: 40rem;
  width: 40rem;
}
